{%- set external_urls = {
    'github': 'javascript:void(0)',
    'github_issues': 'javascript:void(0)',
    'contributing': 'javascript:void(0)',
    'docs': 'javascript:void(0)',
    'twitter': 'javascript:void(0)',
    'facebook': 'javascript:void(0)',
    'slack': 'javascript:void(0)',
    'discuss': 'javascript:void(0)',
    'tutorials': 'javascript:void(0)',
    'previous_pytorch_versions': 'javascript:void(0)',
    'home': 'javascript:void(0)',
    'get_started': 'javascript:void(0)',
    'features': 'javascript:void(0)',
    'ecosystem': 'javascript:void(0)',
    'blog': 'javascript:void(0)',
    'resources': 'javascript:void(0)',
    'support': 'javascript:void(0)'
}
-%}
{%- set names = {
    'logo': 'Document',
}
%}
